@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  body {
    background-color: red;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
}

body {
  background: #0B2F65;
  color: white;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 30px;
  font-weight: lighter;
  margin: 100px 60px;
  text-align: center;
}

.profile-picture {
  width: 200px;

}

.profile-picture:hover {
  transition: 3s;
  webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 18px;
  font-family: Helvetica;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

h1, h2 {
  font-weight: lighter;
}

a {
  color: white;
}

li {
  display: inline;
  margin: 0 10px;
}

ul {
  padding-inline-start: 0px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.card {
  margin: 60px auto;
  max-width: 1000px;
}

.social-links {
  padding-top: 60px;
  margin-bottom: 30px;
}

.btn-email {
  font-family: Helvetica;
  font-weight: bolder;
  letter-spacing: 2px;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: white;
  color: #0B2F65;
  padding: 10px 20px;
  border-radius: 30px;
}

.btn-email:hover {
  background-color: pink;
  transition: 0.3s;
}

i {
  font-size: 30px;
}

i:hover {
  color: pink;
  transition: 0.3s;
}

.text-intro {
  margin-top: 50px;
}

.profile-picture {
  border-radius: 50%;
}


